
.container {    /* grid container for the body */
    display: grid;
    /* height: 100%; */

    height: 100vh;
    width: 100vw;
    /* grid-template-columns: 200px 5rem 20% auto; */
    grid-template-columns: 50% 50%;
    grid-template-rows: 55px 11fr 0.7fr;
    font-family: 'Josefin Sans', sans-serif;

    

    z-index: -1;
    background-image: url(./background_image.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 30% 70%;
    /* background-color: blue; */

    
    /* grid-column-gap: 20px;
    grid-row-gap: 10px; */

    grid-template-areas: "header1 header2" 
                         "main1 main2"
                         "footer1 footer1";
}

.nav_container {        /* grid container for the header/nav bar */
    grid-area: header2;
    /* background-color: rgba(245, 245, 220, 0.315); */

    display: grid;
    height: 100%;
    /* grid-template-columns: 200px 5rem 20% auto; */
    grid-template-columns: 45% 10% 15% 10% 10%;
    /* grid-column-gap: 20px;*/
    grid-column-gap: 10px; 

    font-size: 10px;

    right: 0px;
    margin-right: 0px;
    padding-right: 0px;
    border-right: 0px;

    grid-template-areas: "dummy1 nav_e1 nav_e2 nav_e3 dummy2";
}


.nav_a1{        
    grid-area: nav_e1;
    position: relative;
  
    cursor: pointer;
    
}

.nav_a1 p{
    position: absolute;
    top: 40%;
    left: 23%;

    list-style: none;
    color: rgb(255, 29, 99);
    cursor: pointer;
}

.nav_a1:hover{
    border-bottom: 1px solid #fff;
}


.nav_a2{        
    grid-area: nav_e2;
    position: relative;
    cursor: pointer;
    border-bottom: 1px solid #fff;
}



.nav_a2 p{
    position: absolute;
    top: 40%;
    left: 24%;

    list-style: none;
    color: rgb(255, 29, 99);
    cursor: pointer;
}



.nav_a3{        /* header element 3 */
    grid-area: nav_e3;
    position: relative;
}

.nav_a3:hover{
    border-bottom: 1px solid #fff;
    cursor: pointer;
}

.nav_a3 p{
    position: absolute;
    top: 40%;
    left: 22%;

    list-style: none;
    color: rgb(255, 29, 99);
    cursor: pointer;
}

.footer1 {

    z-index: 100;
    background: black;
    grid-area: footer1;
    font-size: 10px;
    position: relative;
}

.footer1 p{
    position: absolute;
    top: 6%;
    right: 3%;
    color: rgb(102, 102, 102);
}

.dummy2 {
    grid-area: dummy2;
    /* background-color: blue; */
}








body {
    height: 100%;
    margin: 0;
}

html {
    height: 100%;
}




.main1 {          /* main1 */
    background-image: url('./main1.svg');
    background-repeat: no-repeat;
    height: 80%;
    width: 80%;
    background-position: left;
    margin-top: 10%;
    /* grid-column-start: 1;
    grid-column-end: -1; */
    /* grid-column: 1 / -1; */
    /* grid-row-start: row-2-start;
    grid-row-end: span 1; */
    /* grid-row: row-2-start / span 1; */
    z-index: 10;
    grid-area: main1;
}

.header1 {          /* header1 */
    /* grid-column-start: 2;
    grid-column-end: span 3; 
    grid-row-start: row-1-start;
    grid-row-end: row-2-end; */
    grid-area: header1;
    position: relative;
}

.logo_icon {
    position: absolute;
    height: 50px;
    width: 50px;
    top: 20%;    
}




.main2_container {
    grid-area: main2;
    display: grid;
    height: 100%;
    grid-template-columns: 50% 50%;
    grid-template-rows: 20% 8% 8% 8% 15%;
    grid-column-gap: 30px;
    grid-row-gap: 30px;

    grid-template-areas: 
                        "dummy dummy"
                        "row1_column1 row1_column2"
                        "row2_column1 row2_column2" 
                        "row3_column1 row3_column2" 
                        "row4_column row4_column"
                        ;

    position: relative;

    margin-right: 20%;
    margin-bottom: 20%;
}

.row1_column1 {
    grid-area: row1_column1;
    
    color: #fff;
    line-height: 1;
    left: 0%;
    top: 0%;
    z-index: 50;

    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-areas: "row1_column1_item1"
                        "row1_column1_item2";

    position: relative;

}

.row1_column1_item1 {
    grid-area: row1_column1_item1; 
    position: absolute;
    top: 0%;
    left: 0.2%;
    font-size: 8px;
    letter-spacing: 2px;
}



.row1_column1_item2 {

    grid-area: row1_column1_item2;
    position: absolute;
    bottom: 0%;
    left: 0%;

    width: 100%;
    outline: none;

    z-index: 51;

    border: none;

    background: none;

    font-family: inherit;
    font-size: 12px;

 
    border-bottom: 1px solid #fff;

    color: rgb(255, 255, 255);
    opacity: 0.6;
}


.row1_column2 {
    grid-area: row1_column2; 

    color: #fff;
    line-height: 1;
    left: 0%;
    top: 0%;
    z-index: 50;

    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-areas: "row1_column2_item1"
                        "row1_column2_item2";

    position: relative;

}

.row1_column2_item1 {
    grid-area: row1_column2_item1; 
    position: absolute;
    top: 0%;
    left: 0.2%;
    font-size: 8px;
    letter-spacing: 2px;
}

.row1_column2_item2 {

    grid-area: row1_column2_item2;
    position: absolute;
    bottom: 0%;
    left: 0%;

    width: 100%;
    outline: none;

    z-index: 51;

    border: none;

    background: none;

    font-family: inherit;
    font-size: 12px;

    border-bottom: 1px solid #fff;

    color: rgb(255, 255, 255);
    opacity: 1;
}






.row2_column1 {
    grid-area: row2_column1;  

    color: #fff;
    line-height: 1;
    left: 0%;
    top: 0%;
    z-index: 50;

    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-areas: "row2_column1_item1"
                        "row2_column1_item2";

    position: relative;

}



.row2_column1_item1 {
    grid-area: row2_column1_item1; 
    position: absolute;
    top: 0%;
    left: 0.2%;
    font-size: 8px;
    letter-spacing: 2px;
    
}



.row2_column1_item2 {

    grid-area: row1_column2_item2;
    position: absolute;
    bottom: 0%;
    left: 0%;

    width: 100%;
    outline: none;

    z-index: 51;

    border: none;

    background: none;

    font-family: inherit;
    font-size: 14px;

 
    border-bottom: 1px solid #fff;

    color: rgb(255, 255, 255);
    opacity: 0.6;
}



.row2_column2 {
    grid-area: row2_column2;

    color: #fff;
    line-height: 1;
    left: 0%;
    top: 0%;
    z-index: 50;

    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-areas: "row2_column2_item1"
                        "row2_column2_item2";

    position: relative;

}



.row2_column2_item1 {
    grid-area: row2_column2_item1; 
    position: absolute;
    top: 0%;
    left: 0.2%;
    font-size: 8px;
    letter-spacing: 2px;
    
}



.row2_column2_item2 {

    grid-area: row2_column2_item2;
    position: absolute;
    bottom: 0%;
    left: 0%;

    width: 100%;
    outline: none;

    z-index: 51;

    border: none;

    background: none;

    font-family: inherit;
    font-size: 14px;

 
    border-bottom: 1px solid #fff;

    color: rgb(255, 255, 255);
    opacity: 0.6;
}



.row3_column1 {
    grid-area: row3_column1;

    color: #fff;
    line-height: 1;
    left: 0%;
    top: 0%;
    z-index: 50;

    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-areas: "row3_column1_item1"
                        "row3_column1_item2";

    position: relative;

}



.row3_column1_item1 {
    grid-area: row2_column2_item1; 
    position: absolute;
    top: 0%;
    left: 0.2%;
    font-size: 8px;
    letter-spacing: 2px;
    
}



.row3_column1_item2 {

    grid-area: row3_column1_item2;
    position: absolute;
    bottom: 0%;
    left: 0%;

    width: 100%;
    outline: none;

    z-index: 51;

    border: none;

    background: none;

    font-family: inherit;
    font-size: 14px;

 
    border-bottom: 1px solid #fff;

    color: rgb(255, 255, 255);
    opacity: 0.6;
}


.row3_column2 {
    grid-area: row3_column2;

    color: #fff;
    line-height: 1;
    left: 0%;
    top: 0%;
    z-index: 50;

    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-areas: "row3_column2_item1"
                        "row3_column2_item2";

    position: relative;

}



.row3_column2_item1 {
    grid-area: row2_column2_item1; 
    position: absolute;
    top: 0%;
    left: 0.2%;
    font-size: 8px;
    letter-spacing: 2px;
    
}



.row3_column2_item2 {

    grid-area: row3_column2_item2;
    position: absolute;
    bottom: 0%;
    left: 0%;

    width: 100%;
    outline: none;

    z-index: 51;

    border: none;

    background: none;

    font-family: inherit;
    font-size: 14px;

 
    border-bottom: 1px solid #fff;

    color: rgb(255, 255, 255);
    opacity: 0.6;
}


.row4_column {
    grid-area: row4_column;

    /* background-color: blueviolet; */

    color: #fff;
    line-height: 1;
    left: 0%;
    top: 0%;
    z-index: 50;

    display: grid;
    grid-template-rows: 50% 50% ;
    grid-template-columns: 33% 33% 33%;
    grid-template-areas: "row4_column_item1 row4_column_item2 row4_column_item3" 
                        "row4_column_item4 row4_column_item5 row4_column_item6";

    position: relative;

}

.row4_column_item2 {
    grid-area: row4_column_item2; 
    position: absolute;
    margin-left: 0%;
    bottom: 2%;
    /* margin-top: 10px; */
    background-color: rgb(255, 29, 99);
    font-size: 12px;
    font-family: inherit;
    width: 100%;
    height: 98%;
    left: 0%;

    cursor: pointer;
}

.row4_column_item2:hover {
    background-color: rgb(170, 5, 65);
}

.row4_column_item2_p {       
    position: absolute;

    font-family: inherit;
    color: #fff;
    /* top: 15px; */
    left: 37%;
    border: 0%;
    padding: 0%;
}


.row4_column_item5 {
    grid-area: row4_column_item5; 
    position: absolute;
    margin-left: 0%;
    top: 2%;
    /* margin-top: 10px; */
    background-color: rgb(102, 102, 102);
    font-size: 12px;
    font-family: inherit;
    width: 100%;
    height: 98%;
    left: 0%;

    cursor: pointer;
}

.row4_column_item5:hover {
    background-color: rgb(51, 51, 51);
}

.row4_column_item5_p {       
    position: absolute;

    font-family: inherit;
    color: #fff;
    /* top: 15px; */
    left: 35%;
    border: 0%;
    padding: 0%;
}

.row4_column_item6 {
    grid-area: row4_column_item6; 
    position: absolute;
    margin-left: 0%;
    top: 0%;
    right: 0%;
    /* margin-top: 10px; */
    background-image: url('./right_button.svg');
    background-position: 100%;
    background-repeat: no-repeat;
    font-size: 12px;
    font-family: inherit;
    width: 15%;
    height: 70%;
    cursor: pointer;
}

.row4_column_item6:hover,
.row4_column_item6:active {
    background-image: url(./right_button_hovered.svg);
}


























