
<!-- <html>
  <head>
    <title>Realtime Face Recognition Demonstration</title>
  </head>
  <body>
    <h1>Realtime Face Recognition Demonstration</h1>
    <img id="bg" src="{{ url_for('video_feed') }}">
  </body>
</html> -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap" rel="stylesheet">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CSS Course</title>
    <link rel="stylesheet" href="main.css">
</head>

<body style = 'background-color:black'>
    
     
        
        <div class="main2" style='margin-left: 25%; margin-top: 4%'>
          <img src="{{ url_for('video_feed') }}">
        </div>    
        
        <a href = 'http://localhost:3000/Admin'>
        <button style="
          margin-left: 43%; 
          margin-top: 2%;
          width: 200px;
          height: 30px;
          background-color:rgb(255, 29, 99);
          color: white;
          border: none;
          font-family: 'Josefin Sans', sans-serif;
        " 
        onMouseOver="this.style.backgroundColor='rgb(170, 5, 65)'"
        onMouseOut="this.style.backgroundColor='rgb(255, 29, 99)'">
        ADMIN PAGE
      </button>
        </a>
        <div class="button2">
          <p>  </p>
        </div>
        
    
    
        
</body>
</html>

