.background {
    z-index: -1;
    background-image: url(./background_image.svg);
    background-color: black;
}

.container {    /* grid container for the body */
    display: grid;
    height: 100%;
    /* grid-template-columns: 200px 5rem 20% auto; */
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 25% 35% 15% 25%;
    font-family: 'Josefin Sans', sans-serif;

    
    /* grid-column-gap: 20px;
    grid-row-gap: 10px; */

    grid-template-areas: "header header header" 
                         "main1 main2 main3"
                         "button1 button2 button3"
                         "footer footer footer";
}

.main2 {        /* grid container for the header/nav bar */
    grid-area: main2;
    /* background-color: rgba(245, 245, 220, 0.315); */

    height: 100%;
    /* grid-template-columns: 200px 5rem 20% auto; */

    /* grid-column-gap: 20px;*/

    right: 0px;
    margin-right: 0px;
    padding-right: 0px;
    border-right: 0px;
}

.button2 {        /* grid container for the header/nav bar */
    grid-area: button2;

    position: inline-block; 
    /* z-index: 60; */
    margin-left: 105px;
    margin-top: 10px;
    background-color: rgb(255, 29, 99);
    font-size: 15px;
    font-family: inherit;
    color: rgb(207, 5, 5);
    width: 200px;
    height: 50px;
    top: 10px;

    cursor: pointer;
}

.button2:hover {

    background-color: rgb(170, 5, 65);

}

.button2 p {       
    position: absolute;

    font-family: inherit;
    color: #fff;
    top: 15px;
    left: 26.5%;
    border: 0%;
    padding: 0%;
}




